/*********************
GENERAL STYLES
*********************/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body{
  overflow-x: hidden; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */  
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  @include media($tablet) {
    overflow-x: auto; 
  }
}

iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

/*********************
LINK STYLES
*********************/
input[type="submit"]{
  @extend .tran;
}
a{
  color: $link-color;
  position: relative;
  &:after{
    content: '';
    height: 3px;
    width: 100%;
    background-color: $blue;
    transform: scale(0);
    transform-origin: 0 50%;
    @extend .tran;
  }

  /* on hover */
  &:hover{
    color: $link-hover;
    transform: scale(1);
  }

  /* mobile tap color */
  &:link {
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

// /*********************
// IMAGE STYLES
// *********************/
img{
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
}
.acf-map{
  img{
    max-width: 20000%;
  }
}

// fixed sticky 
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/*********************
LIST
*********************/

.list-check{
  li{
    background-image: url('#{$r}check.svg');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: left 0.4em;
    padding-left: 1.5em;  
  }
}
.list-check--white li{
  background-image: url('#{$r}white-check.png');
  padding-left: 1.5em; 
}  