/*********************
COLORS
*********************/

//greys
$dark-grey:         #56565a;
$grey:              #65646a;
$mid-grey:          #B3B3B3;
$light-grey:        #b2a89e;
$black:             #2e3127;
$white:             #fff;


//brand colors
$blue:              #0e505b;
$red:               #9b1038;
$yellow:            #e8dd69;
$brown:             #392b13;
$tan:               #e9e6e0;
$orange:            #bc4520;
$kickstarter_green:  #2bde73;

//alerts (for the input fields)
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;


$twitter_blue:      #26a7df;
$facebook_blue:     #4d67a4;

//setting the color variables to content specific variables

$body-text-color:   $black;

$title-text-color:  $brown;

$link-color:        $dark-grey;
$link-hover:        $grey;





//image uri
$r : "../images/"; //#{$r}/logo-sprite.png

$container-offset: 20px;
$desctop-min: new-breakpoint(min-width 992px);
$tablet: new-breakpoint(max-width 991px);
$mobile: new-breakpoint(max-width 660px);