// home
// html {
// 	width: 100%;
// 	height: 100%;
// }

body {
	background: #e2e2e2;
	height: 100%;
	font-size: 18px;
	font-family: 'futura-pt', arial, sans-serif;

	@include media($tablet) {
		font-size: 16px;
	}
}

.container {
	@include outer-container();
	max-width: 1280px;
	padding: 0 1.5*$container-offset;
	padding-top: 10%;
	@include media($tablet) {
		padding: 0 $container-offset;
	}
}

.layout {
	height: 100%;
	display: table;
	width: 100%;

	@include media($tablet) {
		display: block;
		height: auto;
	}

	.wrapper {
		display: table-cell;
		vertical-align: middle;
		padding: 0 0 48px;

		@include media($tablet) {
			display: block;
		}
	}
}

.hidden-tablet {
	@include media($tablet) {
		display: none !important;
	}
}

.visible-tablet {
	@include media($desctop-min) {
		display: none !important;
	}
}

.site-logo {
	display: inline-block;
	vertical-align: top;
	height: 20px;

	@include media($tablet) {
		height: 18px;
	}

	img {
		height: 100%;
		width: auto;
	}
}

h1 {
	color: $dark-grey;
	font-size: 48px;
	line-height: calc(66/54);
	margin: .33em 0 .66em;

	@include media($tablet) {
		text-align: center;
		font-size: 18px;
		line-height: 24px;
	}
}

.home-section {
	min-height: calc(100vh - 80px);
	height: auto;
	padding: 40px 0;

	@include media($tablet) {
		padding: 25px 0 0;
	}
}
.home-content {
	@include span-columns(5);
	@include shift(7);
	position: relative;

	@include media($tablet) {
	  @include span-columns(12);
	  @include shift(0);
	}

	.column {
		position: relative;
	}

	.text {
		position: relative;
		@include media($tablet) {
			overflow: hidden;
		}
		
		p {
			margin: 0;
			@include media($tablet) {
				max-width: 450px;
				margin: auto;
			}
		}

		@include media($tablet) {
			margin: 0 -#{$container-offset};
			padding: 25px $container-offset;
			background: #fff;
			line-height: 25px;
			text-align: center;
		}

		&:after {
			position: absolute;
			left: 55px;
			top: 10px;
			z-index: 1;
			width: 731px;
			height: 120px;
			background: url(#{$r}flatone-text.png) no-repeat 0 50%;
			content: '';
			display: block;

			@include media($tablet) {
				left: $container-offset;
				bottom: 25px;
				top: auto;
				margin: 0;
				width: 365px;
				height: 60px;
				background-size: contain;
			}
		}
	}

	.img-holder {
		position: absolute;
		right: 100%;
		top: 30px;
		bottom: 0;
		margin-right: 70px;

		@include media($tablet) {
			position: relative;
			top: 0;
			right: auto;
			padding: 0 $container-offset $container-offset;
			background: url(#{$r}/bg01.png) repeat-x 50% 100%;
			margin: 0 -#{$container-offset};
			text-align: center;

			&:after {
				height: 64px;
				width: 100%;
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				@include linear-gradient(to-bottom, rgba(#fff, 0), #fff);
			}
		}

		img {
			width: auto;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			max-width: none;

			@include media($tablet) {
				position: relative;
				right: auto;
				height: auto;
				margin: auto;
				max-width: 100%;
				max-height: 500px;
				width: 450px;
			}
		}
	}

	.form-holder {
		position: relative;
		> * {
			max-width: 450px;
			margin: auto;
		}
		@include media($tablet) {
			margin: 0 -#{$container-offset};
			padding: $container-offset;
			background: #fff;
			& > * {
				position: relative;
				z-index: 2;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: rgba($grey,.22);
				display: block;
				z-index: 1;
			}
		}
	}
	.gform_heading {
		display: none;
	}

	.form-text {
		color: #363333;
		font-size: 16px;
		margin: 2.5em 0 1.5em;
	}

	.bottom-content {
		background: #c9c9c7;
		background-image: -moz-radial-gradient(bottom, circle, rgba(#fff, .5), rgba(#fff, 0));
		background-image: -webkit-radial-gradient(bottom, circle, rgba(#fff, .5), rgba(#fff, 0));
		background-image: radial-gradient(circle at bottom, rgba(#fff, .5), rgba(#fff, 0));
		margin: 0 -#{$container-offset};
		padding: $container-offset $container-offset 0;
		text-align: center;

		.form-text {
			padding: 0 50px;
			margin: 0 0 20px;
			font-size: 17px;
			line-height: 25px;
		}

		img {
			margin: auto;
			max-width: 100%;
			vertical-align: top;
		}
	}
}

.page-template-template-lauchboom-thank-you {
	background: #0d0d0d;

	.home-content {
		display: none;
	}

	.thanks-content {
		display: block;
	}

	.home-section {
		padding-bottom: 400px;

		@include media($tablet) {
			padding-bottom: 300px;
		}
	}

	.wrapper{
		background: url('#{$r}aquarium03.png') no-repeat 50% 100%;

		@include media($tablet) {
			background: url('#{$r}aquarium01.jpg') no-repeat 50% 100%;
		}

		@include media($mobile) {
			background-position: 66% 100%;
		}
	}
}

.thanks-content {
	color: #fff;
	@include media($tablet) {
		max-width: 450px;
		margin: auto;
	}

	h1 {
		color: inherit;
		margin: 25px 0 15px;
	}

	.text-column {
		position: relative;
		@include span-columns(5);

		@include media($tablet) {
			@include span-columns(12);
		}

		&:after {
			position: absolute;
			left: 100%;
			top: 50%;
			margin: -90px 0 0 30px;
			z-index: 1;
			width: 731px;
			height: 180px;
			background: url(#{$r}flatone-text-light.png) no-repeat 20px 50%;
			content: '';
			display: block;
			border-top: 2px solid rgba(#fff,.22);

			@include media($tablet) {
				width: 365px;
				height: 90px;
				margin: 0;
				left: auto;
				right: 0;
				top: 90px;
				border: none;
				background-size: contain;
			}
		}
	}
}

.gform_wrapper {
	position: relative;
}

.gform_wrapper .gform_ajax_spinner {
	position: absolute;
	right: -20px;
	top: 50%;
	margin-top: -10px;
}

.text-editor {
	p {
		margin: 1em 0;

		img {
			display: inline;
			vertical-align: middle;
			margin: 0;
			padding-bottom: 5px;
			width: 130px;
		}
	}

	& > ul {
		line-height: 22px;
		margin: 0;
		padding: 0;
		list-style: none;

		& > li {
			padding: 0 0 0 25px;
			margin: 1em 0;
			position: relative;

			&:before {
				display: block;
				content: '';
				position: absolute;
				left: 0;
				top: 6px;
				border: 1px solid;
				border-radius: 20px;
				width: 11px;
				height: 11px;
			}
		}
	}
}

.thank-you-buttons {
	font-size: 0;
	margin: 0 -13px;
	@include media($tablet){
		text-align: center;
	}
}

.thank-you-button {
	font-size: 21px;
	line-height: 20px;
	padding: 5px 15px;
	font-weight: 500;
	text-transform: none;
	border: 2px solid transparent;
	min-width: 98px;
	margin: 10px 13px;

}