// launchboom
.top-logo{
	width: 90%;
	@media #{$m2} {
		width: 200px;
		margin: auto;
	}
}
.mobile-logo{
	width: 200px;
	padding: 0.5em;
}
.top-section-wrap{
	max-width: 1600px;
	margin: auto;
	position: relative;
	z-index: 2;
	min-height: 100vh;
	height: auto;
}
.top-section-wrap-not-full{
	@media #{$m2}{
		background-image: none !important;
		min-height: 100px;
	}
}
.top-section-wrap-full{
	&:before{
		@media #{$m2} {
			content: '';
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			background-color: rgba(#fff, 0.7);
		}
	}
}
.top-section{
	padding: 1em;
	@media #{$m} {
		float: left;
		width: 50%;
		margin-top: 10%;
	}
}

.top-section-tall{
	z-index: 3;
	position: relative;
	padding: 1em;
	@media #{$m} {
		text-shadow: 0 0 0.5em #fff;
		min-height: 100vh;
		float: right;
		width: 50%;
		margin-top: 10%;
		background-color: rgba(#fff, 0.8);
		max-width: 500px;
		padding-top: 10%;
		margin: 0 1em;
	}
}
.top-section-wrap-not-full{
	.top-section-tall{
		max-width: 1000px;
		margin: 0;
	}
}
.top-content-inner{
	max-width: 450px;
	margin: auto;
}
.top-section-wrap-not-full{
	.top-content-inner{
		max-width: 525px;
	}
}
.top-cta{
	max-width: 600px;
	margin: auto;
	text-align: left;
	padding: 1em;
	
	@media #{$m} {
		padding: 2em;
	}
}
.email-wrap{
	// @media #{$xs}{
		input[type="email"],
		input[type="submit"], 
		button{
			float: left;
			width: 65%;
			border-radius: 0;
		}
		button,
		input[type="submit"]{
			width: 35%;
			padding: 0.71em 0.5em;
		}
		input[type="email"]{
			border-right: 0;
		}
	// }
	@media #{$xs2}{
		font-size: 0.8em;
	}
}
.wpcf7{
	p{
		margin: 0;
	}
}
span.wpcf7-not-valid-tip{
	display: none !important;
}
div.wpcf7-validation-errors{
	background-color: #fff;
}
div.wpcf7-response-output{
	margin-top: 0;
}


// gravity form styles
.gform_title{
	display: none !important;
}
.gform_wrapper{
	form * {
		display: inline;
	}
	.gform_fields{
		list-style-type: none;
	}
	.gfield_label {
		display: none !important;
	}

	input[type="text"], input[type="email"]{
		float: left;
		width: 65%;
		border: 1px solid $kickstarter-green;
		border-radius: 0;
		height: 40px;
		line-height: 20px;
		padding: 9px 15px;
		background: #fff;
		font-size: 20px;
		color: #999;
		max-width: none;

		@include media($tablet) {
			font-size: 16px;
		}

		.top-content-inner--hero & {
			border: 2px solid #fff;
		}
	}

	input[type="submit"] {
		width: 35%;
		height: 40px;
		font-size: 20px;
		line-height: 1;
		border: none;
		padding: 10px;
		text-transform: uppercase;
		font-weight: 500;

		@include media($tablet) {
			font-size: 15px;
		}

		&:hover {
			background: darken($kickstarter-green, 10%);
			color: #fff;
		}
	}

}

.validation_error {
	display: none !important;
}

.validation_message {
	position: absolute;
	left: 0;
	top: 100%;
	line-height: 18px;
	font-size: 15px;
}


.side-image{
	@media #{$m} {
		height: 100vh;
		float: right;
		width: 50%;
		position: absolute;
		right: 0;
		height: 100%;
	}
}

// Thank you page
.thank-you-wrap{
	position: relative;
	@media #{$m} {
		min-height: 100vh;
	}
}
.thank-you-content{
	@media #{$m} {
		float: left;
		width: 45%;
	}
	@media #{$b} {
		width: 40%;
	}
	.top-content-inner{
		float: none;
		width: 100%;
		padding: 1em;
	}
	.button{
		padding: 0.5em 1.2em;
	}
}
.thank-you-side-image{
	@media #{$m} {
		height: 100vh;
		float: right;
		width: 55%;
	}
	@media #{$b} {
		width: 60%;
	}
}
.thank-you-headline{
	font-weight: normal;
	span{
		font-weight: bold;
		display: inline-block;
	}
}
.thank-you-buttons{
	@media #{$m2} {
		text-align: center;
		div{
			display: inline;
		}
	}
	@media #{$s2} {
		font-size: 0.9em;
	}
}
.top-content-inner--comments{
	p{
		@media #{$s} {
			font-size: 1.2em;
		}
	}
}
// thank you live
.top-content-inner-thank-you{
	max-width: 500px;
}
.thank-you-wrap--live{
	position: relative;
	min-height: 100vh;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(#fff, 0.9);
	}
	.thank-you-inner{
		position: relative;
		z-index: 4;
	}
}
.thank-you-live-logo{
	width: 175px;
}










