.button,
input[type="submit"]{
    padding: 0.5em 1.9em;
    text-align: center;
    background-color: $kickstarter_green;
    color: $white;
    border: 2px solid $kickstarter_green;
    line-height: 1.2;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    -webkit-appearance: none;
    border-radius: 0;
    @extend .tran;

    &:hover{
        color: $kickstarter_green;
        background-color: #fff;
        border: 2px solid $kickstarter_green;
    }
    &.button-smaller{
        font-size: 0.8em;
    }
    &.button-bigger {
        @media #{$s}{
            font-size: 1.5em;
        }
    }
    &.facebook{
        background-color: $facebook_blue;
        border-color: $facebook_blue;
        &:hover{
            color: $facebook_blue;
            background-color: #fff;
            border: 2px solid $facebook_blue;
        }
    }
    &.twitter{
        background-color: $twitter_blue;
        border-color: $twitter_blue;
        &:hover{
            color: $twitter_blue;
            background-color: #fff;
            border: 2px solid $twitter_blue;
        }
    }
    &.black{
        background-color: $black;
        border-color: $black;
        &:hover{
            color: $black;
            background-color: #fff;
            border: 2px solid $black;
        }
    }
    &.email{
        color: $dark-grey;
        border-color: #fff;
        background-color: #fff;
        &:hover{
            background-color: $dark-grey;
            color: #fff;
        }
    }
}

.ghost-button{
    background-color: transparent;
    &.white{
        color: #fff;
        border-color: #fff;
        &:hover{
            background-color: #fff;
            color: $blue;
        }
    }
    &.black{
        color: $black;
        border-color: $black;
        &:hover{
            background-color: $black;
            color: #fff;
        }
    }
}
