/*********************
FOOTER
*********************/
.footer{
    background-color: $light-grey;
    text-align: center;
    padding: 12px 0;
    height: 48px;
    margin: -48px 0 0 0;
    position: relative;
    z-index: 10;

    img {
    	max-height: 24px;
    	margin: auto;
    }
}
